body { background-color: black; }

h1{
	color: navy;
	text-align: center;
	}

footer {
	text-align: center;
}

h2{
color:black;

}
h3{
text-align: center;
color: white;
}
h1{
background-color: black;
color: white;

}
footer p small
{
color: red;
}
.Search
{
color: yellow;
}
#P1
{
color: white;
}
#listone
{
list-style-type: square;
list-style-position: inside;
}
.web{
color: black;
text-align: center;
background-color:red;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	text-align: left;
	color: yellow;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	text-align: left;
	color: white;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: red;
	text-align: left;
	}
