
form
{
margin:auto;
max-width:40em;
background-color:#F7F7F7;
padding: 2em 1.5em;
font: .7em Georgia, serif;
color:  #888;
border: .5em solid#E4E4E4;
border-radius: 15em;
}
form h1{
font-size: 2em;
padding: .5em;
border-bottom: .1em solid#E4E4E4;
margin:.2em .6em;
text-align: center;
color: #888;
}
h1 span{ font-size: 1em;}
label{margin: auto;}
label span{ float:left;
width:20%;
text-align:right;
margin-top: 1em;
color:#888;
}
input[type="text"], input[type="email"], textarea, select{
color: #888;
height: 2em;
margin: auto;
padding: .8em;
width:60%;
font-size: 1em;
line-height: 2em;
}
textarea{padding: 1em; height: 10em;}
select{width:64%; height: 3.5em;}
input[type="submit"],input[type="reset"]
{
background-color: #E27575;
border: none; padding: 1em;
color:#FFF; border-radius: 1em;
text-align:center;
}
input[type="submit"]{margin-left: 12em;}
input[type="submit"],input[type="reset"]:hover{
background-color:#CF7A7A;
}