body { background-color: #FFFFFF;
      background-image: url(ptrbackground.jpg);
      color: #666666;
	  font-family: Arial, Helvetica, sans-serif;
}
#wrapper { margin-left: auto;
           margin-right: auto;
		   width: 80%;
		   min-width: 960px;
		   background-color: #90C7E3;
		   box-shadow: 5px 5px 5px #000033;
}
header { background-color: #000033;
       background-image: url(sunset.jpg);
	   background-position: right;
	   background-repeat: no-repeat;
       color: #FFFFFF;
}
nav { padding: 20px 5px 5px 20px;
	 font-weight: bold;
	 float: left;
	 width: 160px;
}
nav ul { list-style-type: none;
       margin: 0;
	   padding-left: 0;
	   font-size: 1.2em;
}
nav a { text-decoration: none; }
nav a:link { color: #000033; }	
nav a:visited { color: #344873; }
nav a:hover { color: #FFFFFF; }   
#content { background-color: #FFFFFF;
           margin-left: 190px;
           padding: 1px 20px 20px 30px;       
}
h1 { margin-bottom: 0;
    padding: 10px;
}
h2 { color: #3399CC;
    text-shadow: 1px 1px 1px #ccc;
}
h3 { color: #000033; 
}
h1, h2, h3 { font-family: Georgia, "Times New Roman", serif; }
#content ul { list-style-image: url(marker.gif); 
             list-style-position: inside;
}
#content img { float: left;
              padding-right: 20px; 
}
#contact { font-size: 90%; 
}

dt { color: #000033; 
}
.resort { color: #5C7FA3; 
         font-weight: bold;
}	   
footer { background-color: #FFFFFF;
       padding: 20px;
       font-size: 75%;
	   font-style: italic;
	   font-family: Georgia, "Times New Roman", serif; 
	   margin-left: 190px;
}